@font-face {
  font-family: 'MCB';
  font-style: normal;
  /* src: url('/font/MapleMono-SC-NF-Bold.ttf'); */
  src: url('/font/MapleMono-Bold.ttf');
}
.font-mno {
  font-family: MCB;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #eee;
}
/* chrome - slider 滑块样式 */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: #7D5;
  border-radius: 50%;
  border: none;
}
markdown-body*, :before,:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor
}
::selection {
  background: #1DB954;
  color: #fff;
  -webkit-text-fill-color: lightcyan;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  overflow: scroll;
}

body {
  line-height: inherit;
}

html, body, #app {
  margin: 0;
  padding: 0;
}

.text-linear {
  letter-spacing: 1px;
  font-feature-settings: "ss02", "ss01";
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(71.18deg, rgb(0, 34, 255) -27.32%, rgb(0, 34, 255) -16.39%, rgb(81, 121, 254) -7.38%, rgb(53, 172, 62) 62.61%, rgb(55, 192, 130) 75.82%);
}

html.dark .text-linear {
  letter-spacing: 1px;
  font-feature-settings: "ss02", "ss01";
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(71.18deg, rgb(0, 34, 255) -27.32%, rgb(0, 34, 255) -16.39%, rgb(81, 121, 254) -7.38%, rgb(165, 237, 182) 30.59%, rgb(250, 232, 90) 46.06%, rgb(253, 172, 62) 62.61%, rgb(255, 92, 0) 75.82%);
}


html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}

abbr:where([title]) {
  text-decoration: underline dotted
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

b, strong {
  font-weight: bolder
}

code, kbd, samp, pre {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-size: 1em
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}

button, select {
  text-transform: none
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
  height: auto
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
  margin: 0
}

fieldset {
  margin: 0;
  padding: 0
}

legend {
  padding: 0
}

ol,ul,menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

button, [role=button] {
  cursor: pointer;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

@keyframes rainbow {
  0% {
    --vp-c-brand: #00a98e;
    --vp-c-brand-light: #4ad1b4;
    --vp-c-brand-lighter: #78fadc;
    --vp-c-brand-dark: #008269;
    --vp-c-brand-darker: #005d47;
    --vp-c-brand-next: #009ff7
  }

    1.25% {
        --vp-c-brand: #00a996;
        --vp-c-brand-light: #4bd1bd;
        --vp-c-brand-lighter: #79fbe5;
        --vp-c-brand-dark: #008371;
        --vp-c-brand-darker: #005e4f;
        --vp-c-brand-next: #009dfa
    }

    2.5% {
        --vp-c-brand: #00a99f;
        --vp-c-brand-light: #4cd1c6;
        --vp-c-brand-lighter: #7afbee;
        --vp-c-brand-dark: #00837a;
        --vp-c-brand-darker: #005e56;
        --vp-c-brand-next: #009bfc
    }

    3.75% {
        --vp-c-brand: #00a9a7;
        --vp-c-brand-light: #4dd1cf;
        --vp-c-brand-lighter: #7bfbf8;
        --vp-c-brand-dark: #008382;
        --vp-c-brand-darker: #005e5e;
        --vp-c-brand-next: #0098fd
    }

    5% {
        --vp-c-brand: #00a9b0;
        --vp-c-brand-light: #4ed1d7;
        --vp-c-brand-lighter: #7dfaff;
        --vp-c-brand-dark: #00838a;
        --vp-c-brand-darker: #005e65;
        --vp-c-brand-next: #0096fd
    }

    6.25% {
        --vp-c-brand: #00a9b8;
        --vp-c-brand-light: #4fd1e0;
        --vp-c-brand-lighter: #7efaff;
        --vp-c-brand-dark: #008391;
        --vp-c-brand-darker: #005e6d;
        --vp-c-brand-next: #0093fd
    }

    7.5% {
        --vp-c-brand: #00a9c0;
        --vp-c-brand-light: #50d0e8;
        --vp-c-brand-lighter: #7ffaff;
        --vp-c-brand-dark: #008399;
        --vp-c-brand-darker: #005e74;
        --vp-c-brand-next: #2e90fc
    }

    8.75% {
        --vp-c-brand: #00a8c7;
        --vp-c-brand-light: #51d0f0;
        --vp-c-brand-lighter: #81f9ff;
        --vp-c-brand-dark: #0082a0;
        --vp-c-brand-darker: #005e7b;
        --vp-c-brand-next: #4d8dfa
    }

    10% {
        --vp-c-brand: #00a8cf;
        --vp-c-brand-light: #52cff7;
        --vp-c-brand-lighter: #82f8ff;
        --vp-c-brand-dark: #0082a7;
        --vp-c-brand-darker: #005e81;
        --vp-c-brand-next: #638af8
    }

    11.25% {
        --vp-c-brand: #00a7d5;
        --vp-c-brand-light: #53cfff;
        --vp-c-brand-lighter: #84f8ff;
        --vp-c-brand-dark: #0081ae;
        --vp-c-brand-darker: #005d87;
        --vp-c-brand-next: #7587f5
    }

    12.5% {
        --vp-c-brand: #00a6dc;
        --vp-c-brand-light: #55ceff;
        --vp-c-brand-lighter: #85f7ff;
        --vp-c-brand-dark: #0081b4;
        --vp-c-brand-darker: #005d8d;
        --vp-c-brand-next: #8583f1
    }

    13.75% {
        --vp-c-brand: #00a6e2;
        --vp-c-brand-light: #56cdff;
        --vp-c-brand-lighter: #87f6ff;
        --vp-c-brand-dark: #0080b9;
        --vp-c-brand-darker: #005c93;
        --vp-c-brand-next: #9280ed
    }

    15% {
        --vp-c-brand: #00a4e7;
        --vp-c-brand-light: #57ccff;
        --vp-c-brand-lighter: #88f4ff;
        --vp-c-brand-dark: #007fbf;
        --vp-c-brand-darker: #005b98;
        --vp-c-brand-next: #9f7ce9
    }

    16.25% {
        --vp-c-brand: #00a3ec;
        --vp-c-brand-light: #58caff;
        --vp-c-brand-lighter: #89f3ff;
        --vp-c-brand-dark: #007ec3;
        --vp-c-brand-darker: #005b9c;
        --vp-c-brand-next: #aa78e3
    }

    17.5% {
        --vp-c-brand: #00a2f1;
        --vp-c-brand-light: #58c9ff;
        --vp-c-brand-lighter: #8af1ff;
        --vp-c-brand-dark: #007dc8;
        --vp-c-brand-darker: #0059a0;
        --vp-c-brand-next: #b574dd
    }

    18.75% {
        --vp-c-brand: #00a0f4;
        --vp-c-brand-light: #59c7ff;
        --vp-c-brand-lighter: #8bf0ff;
        --vp-c-brand-dark: #007bcb;
        --vp-c-brand-darker: #0058a3;
        --vp-c-brand-next: #be71d7
    }

    20% {
        --vp-c-brand: #009ff7;
        --vp-c-brand-light: #5ac5ff;
        --vp-c-brand-lighter: #8ceeff;
        --vp-c-brand-dark: #007ace;
        --vp-c-brand-darker: #0057a6;
        --vp-c-brand-next: #c76dd1
    }

    21.25% {
        --vp-c-brand: #009dfa;
        --vp-c-brand-light: #5ac3ff;
        --vp-c-brand-lighter: #8decff;
        --vp-c-brand-dark: #0078d0;
        --vp-c-brand-darker: #0055a8;
        --vp-c-brand-next: #cf69c9
    }

    22.5% {
        --vp-c-brand: #009bfc;
        --vp-c-brand-light: #5bc1ff;
        --vp-c-brand-lighter: #8de9ff;
        --vp-c-brand-dark: #0076d2;
        --vp-c-brand-darker: #0053aa;
        --vp-c-brand-next: #d566c2
    }

    23.75% {
        --vp-c-brand: #0098fd;
        --vp-c-brand-light: #5bbfff;
        --vp-c-brand-lighter: #8ee7ff;
        --vp-c-brand-dark: #0074d3;
        --vp-c-brand-darker: #0051ab;
        --vp-c-brand-next: #dc63ba
    }

    25% {
        --vp-c-brand: #0096fd;
        --vp-c-brand-light: #5bbcff;
        --vp-c-brand-lighter: #8ee4ff;
        --vp-c-brand-dark: #0071d4;
        --vp-c-brand-darker: #004fab;
        --vp-c-brand-next: #e160b3
    }

    26.25% {
        --vp-c-brand: #0093fd;
        --vp-c-brand-light: #5bb9ff;
        --vp-c-brand-lighter: #8ee1ff;
        --vp-c-brand-dark: #006fd3;
        --vp-c-brand-darker: #004dab;
        --vp-c-brand-next: #e65eab
    }

    27.5% {
        --vp-c-brand: #2e90fc;
        --vp-c-brand-light: #69b6ff;
        --vp-c-brand-lighter: #99deff;
        --vp-c-brand-dark: #006cd2;
        --vp-c-brand-darker: #004baa;
        --vp-c-brand-next: #e95ca2
    }

    28.75% {
        --vp-c-brand: #4d8dfa;
        --vp-c-brand-light: #7eb3ff;
        --vp-c-brand-lighter: #abdbff;
        --vp-c-brand-dark: #0069d1;
        --vp-c-brand-darker: #0048a9;
        --vp-c-brand-next: #ed5a9a
    }

    30% {
        --vp-c-brand: #638af8;
        --vp-c-brand-light: #8fb0ff;
        --vp-c-brand-lighter: #bbd7ff;
        --vp-c-brand-dark: #3066cf;
        --vp-c-brand-darker: #0045a7;
        --vp-c-brand-next: #ef5992
    }

    31.25% {
        --vp-c-brand: #7587f5;
        --vp-c-brand-light: #9fadff;
        --vp-c-brand-lighter: #cad4ff;
        --vp-c-brand-dark: #4963cc;
        --vp-c-brand-darker: #0941a4;
        --vp-c-brand-next: #f15989
    }

    32.5% {
        --vp-c-brand: #8583f1;
        --vp-c-brand-light: #aea9ff;
        --vp-c-brand-lighter: #d8d1ff;
        --vp-c-brand-dark: #5b5fc8;
        --vp-c-brand-darker: #2e3ea1;
        --vp-c-brand-next: #f25981
    }

    33.75% {
        --vp-c-brand: #9280ed;
        --vp-c-brand-light: #bca6ff;
        --vp-c-brand-lighter: #e6cdff;
        --vp-c-brand-dark: #6a5cc4;
        --vp-c-brand-darker: #413a9d;
        --vp-c-brand-next: #f25a79
    }

    35% {
        --vp-c-brand: #9f7ce9;
        --vp-c-brand-light: #c8a2ff;
        --vp-c-brand-lighter: #f2c9ff;
        --vp-c-brand-dark: #7758c0;
        --vp-c-brand-darker: #503598;
        --vp-c-brand-next: #f25c71
    }

    36.25% {
        --vp-c-brand: #aa78e3;
        --vp-c-brand-light: #d39eff;
        --vp-c-brand-lighter: #fec6ff;
        --vp-c-brand-dark: #8354bb;
        --vp-c-brand-darker: #5c3193;
        --vp-c-brand-next: #f15e69
    }

    37.5% {
        --vp-c-brand: #b574dd;
        --vp-c-brand-light: #de9bff;
        --vp-c-brand-lighter: #ffc2ff;
        --vp-c-brand-dark: #8d50b5;
        --vp-c-brand-darker: #662c8e;
        --vp-c-brand-next: #ef6061
    }

    38.75% {
        --vp-c-brand: #be71d7;
        --vp-c-brand-light: #e897ff;
        --vp-c-brand-lighter: #ffbfff;
        --vp-c-brand-dark: #964baf;
        --vp-c-brand-darker: #6f2688;
        --vp-c-brand-next: #ed635a
    }

    40% {
        --vp-c-brand: #c76dd1;
        --vp-c-brand-light: #f194fa;
        --vp-c-brand-lighter: #ffbcff;
        --vp-c-brand-dark: #9e47a9;
        --vp-c-brand-darker: #772082;
        --vp-c-brand-next: #eb6552
    }

    41.25% {
        --vp-c-brand: #cf69c9;
        --vp-c-brand-light: #f991f2;
        --vp-c-brand-lighter: #ffb9ff;
        --vp-c-brand-dark: #a643a2;
        --vp-c-brand-darker: #7e197c;
        --vp-c-brand-next: #e8694b
    }

    42.5% {
        --vp-c-brand: #d566c2;
        --vp-c-brand-light: #ff8deb;
        --vp-c-brand-lighter: #ffb6ff;
        --vp-c-brand-dark: #ac3f9b;
        --vp-c-brand-darker: #841075;
        --vp-c-brand-next: #e46c44
    }

    43.75% {
        --vp-c-brand: #dc63ba;
        --vp-c-brand-light: #ff8be3;
        --vp-c-brand-lighter: #ffb3ff;
        --vp-c-brand-dark: #b23b94;
        --vp-c-brand-darker: #89046f;
        --vp-c-brand-next: #e06f3d
    }

    45% {
        --vp-c-brand: #e160b3;
        --vp-c-brand-light: #ff88db;
        --vp-c-brand-lighter: #ffb1ff;
        --vp-c-brand-dark: #b7378c;
        --vp-c-brand-darker: #8d0068;
        --vp-c-brand-next: #db7336
    }

    46.25% {
        --vp-c-brand: #e65eab;
        --vp-c-brand-light: #ff86d2;
        --vp-c-brand-lighter: #ffaffb;
        --vp-c-brand-dark: #bb3485;
        --vp-c-brand-darker: #910060;
        --vp-c-brand-next: #d77630
    }

    47.5% {
        --vp-c-brand: #e95ca2;
        --vp-c-brand-light: #ff84ca;
        --vp-c-brand-lighter: #ffadf2;
        --vp-c-brand-dark: #be317d;
        --vp-c-brand-darker: #940059;
        --vp-c-brand-next: #d17a2a
    }

    48.75% {
        --vp-c-brand: #ed5a9a;
        --vp-c-brand-light: #ff83c1;
        --vp-c-brand-lighter: #fface9;
        --vp-c-brand-dark: #c12f75;
        --vp-c-brand-darker: #970052;
        --vp-c-brand-next: #cc7d24
    }

    50% {
        --vp-c-brand: #ef5992;
        --vp-c-brand-light: #ff82b8;
        --vp-c-brand-lighter: #ffabe0;
        --vp-c-brand-dark: #c32d6d;
        --vp-c-brand-darker: #98004b;
        --vp-c-brand-next: #c6811e
    }

    51.25% {
        --vp-c-brand: #f15989;
        --vp-c-brand-light: #ff82af;
        --vp-c-brand-lighter: #ffabd7;
        --vp-c-brand-dark: #c52d65;
        --vp-c-brand-darker: #9a0043;
        --vp-c-brand-next: #bf8418
    }

    52.5% {
        --vp-c-brand: #f25981;
        --vp-c-brand-light: #ff82a7;
        --vp-c-brand-lighter: #ffabce;
        --vp-c-brand-dark: #c52e5e;
        --vp-c-brand-darker: #9a003c;
        --vp-c-brand-next: #b98713
    }

    53.75% {
        --vp-c-brand: #f25a79;
        --vp-c-brand-light: #ff839e;
        --vp-c-brand-lighter: #ffacc5;
        --vp-c-brand-dark: #c62f56;
        --vp-c-brand-darker: #9a0035;
        --vp-c-brand-next: #b28a0f
    }

    55% {
        --vp-c-brand: #f25c71;
        --vp-c-brand-light: #ff8496;
        --vp-c-brand-lighter: #ffadbc;
        --vp-c-brand-dark: #c5314e;
        --vp-c-brand-darker: #99002e;
        --vp-c-brand-next: #ab8d0c
    }

    56.25% {
        --vp-c-brand: #f15e69;
        --vp-c-brand-light: #ff868d;
        --vp-c-brand-lighter: #ffaeb4;
        --vp-c-brand-dark: #c43447;
        --vp-c-brand-darker: #980027;
        --vp-c-brand-next: #a3900b
    }

    57.5% {
        --vp-c-brand: #ef6061;
        --vp-c-brand-light: #ff8885;
        --vp-c-brand-lighter: #ffb0ab;
        --vp-c-brand-dark: #c3373f;
        --vp-c-brand-darker: #970020;
        --vp-c-brand-next: #9c920d
    }

    58.75% {
        --vp-c-brand: #ed635a;
        --vp-c-brand-light: #ff8a7d;
        --vp-c-brand-lighter: #ffb2a3;
        --vp-c-brand-dark: #c13b38;
        --vp-c-brand-darker: #940619;
        --vp-c-brand-next: #949510
    }

    60% {
        --vp-c-brand: #eb6552;
        --vp-c-brand-light: #ff8d76;
        --vp-c-brand-lighter: #ffb59b;
        --vp-c-brand-dark: #be3e31;
        --vp-c-brand-darker: #921111;
        --vp-c-brand-next: #8b9715
    }

    61.25% {
        --vp-c-brand: #e8694b;
        --vp-c-brand-light: #ff8f6e;
        --vp-c-brand-lighter: #ffb794;
        --vp-c-brand-dark: #bb4229;
        --vp-c-brand-darker: #8f1908;
        --vp-c-brand-next: #83991b
    }

    62.5% {
        --vp-c-brand: #e46c44;
        --vp-c-brand-light: #ff9367;
        --vp-c-brand-lighter: #ffba8c;
        --vp-c-brand-dark: #b74622;
        --vp-c-brand-darker: #8c1f00;
        --vp-c-brand-next: #7a9b21
    }

    63.75% {
        --vp-c-brand: #e06f3d;
        --vp-c-brand-light: #ff9661;
        --vp-c-brand-lighter: #ffbd86;
        --vp-c-brand-dark: #b44a1a;
        --vp-c-brand-darker: #882500;
        --vp-c-brand-next: #719d27
    }

    65% {
        --vp-c-brand: #db7336;
        --vp-c-brand-light: #ff995a;
        --vp-c-brand-lighter: #ffc17f;
        --vp-c-brand-dark: #af4e11;
        --vp-c-brand-darker: #842a00;
        --vp-c-brand-next: #679e2e
    }

    66.25% {
        --vp-c-brand: #d77630;
        --vp-c-brand-light: #ff9c54;
        --vp-c-brand-lighter: #ffc47a;
        --vp-c-brand-dark: #ab5206;
        --vp-c-brand-darker: #802f00;
        --vp-c-brand-next: #5da035
    }

    67.5% {
        --vp-c-brand: #d17a2a;
        --vp-c-brand-light: #fea04f;
        --vp-c-brand-lighter: #ffc774;
        --vp-c-brand-dark: #a55600;
        --vp-c-brand-darker: #7b3300;
        --vp-c-brand-next: #51a13c
    }

    68.75% {
        --vp-c-brand: #cc7d24;
        --vp-c-brand-light: #f8a34a;
        --vp-c-brand-lighter: #ffca70;
        --vp-c-brand-dark: #a05900;
        --vp-c-brand-darker: #773700;
        --vp-c-brand-next: #44a244
    }

    70% {
        --vp-c-brand: #c6811e;
        --vp-c-brand-light: #f2a646;
        --vp-c-brand-lighter: #ffce6c;
        --vp-c-brand-dark: #9b5d00;
        --vp-c-brand-darker: #713b00;
        --vp-c-brand-next: #34a44b
    }

    71.25% {
        --vp-c-brand: #bf8418;
        --vp-c-brand-light: #ebaa42;
        --vp-c-brand-lighter: #ffd168;
        --vp-c-brand-dark: #956000;
        --vp-c-brand-darker: #6c3e00;
        --vp-c-brand-next: #1ba553
    }

    72.5% {
        --vp-c-brand: #b98713;
        --vp-c-brand-light: #e4ad3f;
        --vp-c-brand-lighter: #ffd466;
        --vp-c-brand-dark: #8e6300;
        --vp-c-brand-darker: #674100;
        --vp-c-brand-next: #00a65b
    }

    73.75% {
        --vp-c-brand: #b28a0f;
        --vp-c-brand-light: #ddb03d;
        --vp-c-brand-lighter: #ffd764;
        --vp-c-brand-dark: #886600;
        --vp-c-brand-darker: #614400;
        --vp-c-brand-next: #00a663
    }

    75% {
        --vp-c-brand: #ab8d0c;
        --vp-c-brand-light: #d5b33c;
        --vp-c-brand-lighter: #ffda63;
        --vp-c-brand-dark: #816900;
        --vp-c-brand-darker: #5b4700;
        --vp-c-brand-next: #00a76c
    }

    76.25% {
        --vp-c-brand: #a3900b;
        --vp-c-brand-light: #cdb63c;
        --vp-c-brand-lighter: #f8dd63;
        --vp-c-brand-dark: #7a6b00;
        --vp-c-brand-darker: #554900;
        --vp-c-brand-next: #00a874
    }

    77.5% {
        --vp-c-brand: #9c920d;
        --vp-c-brand-light: #c5b83d;
        --vp-c-brand-lighter: #f0e064;
        --vp-c-brand-dark: #736e00;
        --vp-c-brand-darker: #4e4b00;
        --vp-c-brand-next: #00a87d
    }

    78.75% {
        --vp-c-brand: #949510;
        --vp-c-brand-light: #bdbb3e;
        --vp-c-brand-lighter: #e7e366;
        --vp-c-brand-dark: #6c7000;
        --vp-c-brand-darker: #474d00;
        --vp-c-brand-next: #00a985
    }

    80% {
        --vp-c-brand: #8b9715;
        --vp-c-brand-light: #b4bd41;
        --vp-c-brand-lighter: #dee668;
        --vp-c-brand-dark: #647200;
        --vp-c-brand-darker: #404f00;
        --vp-c-brand-next: #00a98e
    }

    81.25% {
        --vp-c-brand: #83991b;
        --vp-c-brand-light: #abc045;
        --vp-c-brand-lighter: #d4e86c;
        --vp-c-brand-dark: #5c7400;
        --vp-c-brand-darker: #385100;
        --vp-c-brand-next: #00a996
    }

    82.5% {
        --vp-c-brand: #7a9b21;
        --vp-c-brand-light: #a2c249;
        --vp-c-brand-lighter: #cbea70;
        --vp-c-brand-dark: #537600;
        --vp-c-brand-darker: #2f5200;
        --vp-c-brand-next: #00a99f
    }

    83.75% {
        --vp-c-brand: #719d27;
        --vp-c-brand-light: #98c44e;
        --vp-c-brand-lighter: #c1ec75;
        --vp-c-brand-dark: #4a7700;
        --vp-c-brand-darker: #255300;
        --vp-c-brand-next: #00a9a7
    }

    85% {
        --vp-c-brand: #679e2e;
        --vp-c-brand-light: #8ec654;
        --vp-c-brand-lighter: #b7ee7a;
        --vp-c-brand-dark: #407900;
        --vp-c-brand-darker: #185500;
        --vp-c-brand-next: #00a9b0
    }

    86.25% {
        --vp-c-brand: #5da035;
        --vp-c-brand-light: #84c75a;
        --vp-c-brand-lighter: #acf080;
        --vp-c-brand-dark: #357a0a;
        --vp-c-brand-darker: #015600;
        --vp-c-brand-next: #00a9b8
    }

    87.5% {
        --vp-c-brand: #51a13c;
        --vp-c-brand-light: #79c961;
        --vp-c-brand-lighter: #a1f287;
        --vp-c-brand-dark: #277b16;
        --vp-c-brand-darker: #005700;
        --vp-c-brand-next: #00a9c0
    }

    88.75% {
        --vp-c-brand: #44a244;
        --vp-c-brand-light: #6dca68;
        --vp-c-brand-lighter: #96f48e;
        --vp-c-brand-dark: #117c1f;
        --vp-c-brand-darker: #005700;
        --vp-c-brand-next: #00a8c7
    }

    90% {
        --vp-c-brand: #34a44b;
        --vp-c-brand-light: #60cc70;
        --vp-c-brand-lighter: #89f595;
        --vp-c-brand-dark: #007d28;
        --vp-c-brand-darker: #005801;
        --vp-c-brand-next: #00a8cf
    }

    91.25% {
        --vp-c-brand: #1ba553;
        --vp-c-brand-light: #51cd77;
        --vp-c-brand-lighter: #7cf69d;
        --vp-c-brand-dark: #007e30;
        --vp-c-brand-darker: #00590d;
        --vp-c-brand-next: #00a7d5
    }

    92.5% {
        --vp-c-brand: #00a65b;
        --vp-c-brand-light: #48ce80;
        --vp-c-brand-lighter: #75f7a6;
        --vp-c-brand-dark: #007f38;
        --vp-c-brand-darker: #005917;
        --vp-c-brand-next: #00a6dc
    }

  93.75% {
    --vp-c-brand: #00a663;
    --vp-c-brand-light: #48cf88;
    --vp-c-brand-lighter: #75f8ae;
    --vp-c-brand-dark: #008040;
    --vp-c-brand-darker: #005a20;
    --vp-c-brand-next: #00a6e2
  }

  95% {
    --vp-c-brand: #00a76c;
    --vp-c-brand-light: #49cf91;
    --vp-c-brand-lighter: #76f9b7;
    --vp-c-brand-dark: #008049;
    --vp-c-brand-darker: #005b28;
    --vp-c-brand-next: #00a4e7
  }

  96.25% {
    --vp-c-brand: #00a874;
    --vp-c-brand-light: #49d099;
    --vp-c-brand-lighter: #76f9c0;
    --vp-c-brand-dark: #008151;
    --vp-c-brand-darker: #005c30;
    --vp-c-brand-next: #00a3ec
  }

  97.5% {
    --vp-c-brand: #00a87d;
    --vp-c-brand-light: #49d0a2;
    --vp-c-brand-lighter: #77fac9;
    --vp-c-brand-dark: #008159;
    --vp-c-brand-darker: #005c37;
    --vp-c-brand-next: #00a2f1
  }

  98.75% {
    --vp-c-brand: #00a985;
    --vp-c-brand-light: #4ad1ab;
    --vp-c-brand-lighter: #77fad3;
    --vp-c-brand-dark: #008261;
    --vp-c-brand-darker: #005d3f;
    --vp-c-brand-next: #00a0f4
  }

  to {
    --vp-c-brand: #00a98e;
    --vp-c-brand-light: #4ad1b4;
    --vp-c-brand-lighter: #78fadc;
    --vp-c-brand-dark: #008269;
    --vp-c-brand-darker: #005d47;
    --vp-c-brand-next: #009ff7
  }
}

:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  --prism-scheme: light;
  --prism-foreground: #6e6e6e;
  --prism-background: #f6f8fa;
  --prism-comment: #a8a8a8;
  --prism-string: #555555;
  --prism-literal: #333333;
  --prism-keyword: #000000;
  --prism-function: #4f4f4f;
  --prism-deleted: #333333;
  --prism-class: #333333;
  --prism-builtin: #757575;
  --prism-property: #333333;
  --prism-namespace: #4f4f4f;
  --prism-punctuation: #ababab;
  --prism-decorator: var(--prism-class);
  --prism-operator: var(--prism-punctuation);
  --prism-number: var(--prism-literal);
  --prism-boolean: var(--prism-literal);
  --prism-variable: var(--prism-literal);
  --prism-constant: var(--prism-literal);
  --prism-symbol: var(--prism-literal);
  --prism-interpolation: var(--prism-literal);
  --prism-selector: var(--prism-keyword);
  --prism-keyword-control: var(--prism-keyword);
  --prism-regex: var(--prism-string);
  --prism-json-property: var(--prism-property);
  --prism-inline-background: var(--prism-background);
  --prism-comment-style: italic;
  --prism-url-decoration: underline;
  --prism-line-number: #a5a5a5;
  --prism-line-number-gutter: #333333;
  --prism-line-highlight-background: #eeeeee;
  --prism-selection-background: #aaaaaa;
  --prism-marker-color: var(--prism-foreground);
  --prism-marker-opacity: .4;
  --prism-marker-font-size: .8em;
  --prism-font-size: 1em;
  --prism-line-height: 1.5em;
  --prism-font-family: "Fria Code", monospace;
  --prism-inline-font-size: var(--prism-font-size);
  --prism-block-font-size: var(--prism-font-size);
  --prism-tab-size: 2;
  --prism-block-padding-x: 1em;
  --prism-block-padding-y: 1em;
  --prism-block-margin-x: 0;
  --prism-block-margin-y: .5em;
  --prism-block-radius: .3em;
  --prism-inline-padding-x: .3em;
  --prism-inline-padding-y: .1em;
  --prism-inline-radius: .3em;
  --vp-c-brand: #00a98e;
  --vp-c-brand-light: #4ad1b4;
  --vp-c-brand-lighter: #78fadc;
  --vp-c-brand-dark: #008269;
  --vp-c-brand-darker: #005d47;
  --vp-c-brand-next: #009ff7;
  animation: rainbow 10s linear infinite;
}

.link-style {
  text-decoration: dotted underline !important;
}
.link-style:hover {
  color: var(--vp-c-brand) !important;
  text-decoration-color: var(--vp-c-brand) !important;
}

#nprogress {
  pointer-events: none
}

#nprogress .bar {
  background: #395;
  opacity: .75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

.sponsorkit-avatar {
  cursor: pointer;
}

.sponsorkit-tier-title {
  font-weight: 600;
  font-size: 20px;
  fill: currentColor
}

.sponsorkit-name {
  font-weight: 300;
  font-size: 15px;
  transform: translateY(8px);
}

::-webkit-scrollbar {
  width: 6px
}

::-webkit-scrollbar:horizontal {
  height: 6px
}

::-webkit-scrollbar-track,::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

h2+p>em:first-child {
  opacity: .5;
  display: block;
  margin-top: -20px;
  font-size: .9em
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

.markdown-body {
  /* width: 45vw; */
  /* height: 100%; */
  text-align: left;
  margin: 0 auto;
  color: var(--fg);
  max-width: 70ch;
  font-size: 1rem;
  line-height: 1.75;
  font-family: MCB;
}

.markdown-body [class~=lead] {
  color: #4b5563;
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em
}

.markdown-body a {
  color: var(--fg-deeper);
  text-decoration: none;
  font-weight: 500;
}

.markdown-body strong {
  color: var(--fg-deep);
  font-weight: 600
}

.markdown-body ol[type=A] {
  --list-counter-style: upper-alpha
}

.markdown-body ol[type=a] {
  --list-counter-style: lower-alpha
}

.markdown-body ol[type="A s"] {
  --list-counter-style: upper-alpha
}

.markdown-body ol[type="a s"] {
  --list-counter-style: lower-alpha
}

.markdown-body ol[type=I] {
  --list-counter-style: upper-roman
}

.markdown-body ol[type=i] {
  --list-counter-style: lower-roman
}

.markdown-body ol[type="I s"] {
  --list-counter-style: upper-roman
}

.markdown-body ol[type="i s"] {
  --list-counter-style: lower-roman
}

.markdown-body ol[type="1"] {
  --list-counter-style: decimal
}

.markdown-body ol > li {
  position: relative;
  padding-left: 1.75em
}

.markdown-body ol > li:before {
  content: counter(list-item,var(--list-counter-style, decimal)) ".";
  position: absolute;
  font-weight: 400;
  color: #6b7280;
  left: 0
}

.markdown-body ul {
  padding-left: 1rem;
}
.markdown-body ul > li {
  position: relative;
  padding-left: 1.75em
}

.markdown-body ul > li:before {
  content: "";
  position: absolute;
  background-color: #d1d5db;
  border-radius: 50%;
  width: .375em;
  height: .375em;
  top: .6875em;
  left: .25em
}

.markdown-body hr {
  border-color: #7d7d7d4d;
  margin-top: 3em;
  margin-bottom: 3em
}

.markdown-body blockquote {
  font-weight: 500;
  font-style: italic;
  color: inherit;
  border-left-width: .25rem;
  border-color: #7d7d7d4d;
  quotes: "\201c""\201d""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em
}

.markdown-body blockquote p:first-of-type:before {
  content: open-quote
}

.markdown-body blockquote p:last-of-type:after {
  content: close-quote
}

.markdown-body h1 {
  color: var(--fg-deeper);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: .8888889em;
  line-height: 1.1111111
}

.markdown-body h2 {
  color: var(--fg-deep);
  font-weight: 700;
  font-size: 1.5em;
  margin: 1em 0; 
  line-height: 1.3333333
}

.markdown-body h3 {
  color: inherit;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: .6em;
  line-height: 1.6
}

.markdown-body h4 {
  color: inherit;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: .5em;
  line-height: 1.5
}

.markdown-body figure figcaption {
  color: #6b7280;
  font-size: .875em;
  line-height: 1.4285714;
  margin-top: .8571429em
}

.markdown-body code {
  color: var(--fg-deep);
  background: none;
  font-weight: 600;
  font-size: .875em;
}

.markdown-body code:before {
  content: "`";
}

.markdown-body code:after {
  content: "`";
}

.markdown-body pre {
  color: #e5e7eb;
  background-color: #1f2937;
  overflow-x: auto;
  font-size: .875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: .375rem;
  padding: .8571429em 1.1428571em
}

.markdown-body pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit
}

.markdown-body pre code:before {
  content: none
}

.markdown-body pre code:after {
  content: none
}

.markdown-body table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: .875em;
  line-height: 1.7142857
}

.markdown-body thead {
  color: #111827;
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-color: #d1d5db
}

.markdown-body thead th {
  vertical-align: bottom;
  padding-right: .5714286em;
  padding-bottom: .5714286em;
  padding-left: .5714286em
}

.markdown-body tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: #e5e7eb
}

.markdown-body tbody tr:last-child {
  border-bottom-width: 0
}

.markdown-body tbody td {
  vertical-align: top;
  padding: .5714286em
}

.markdown-body p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.markdown-body img {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose video {
  margin-top: 2em;
  margin-bottom: 2em
}

.prose figure {
  margin-top: 2em;
  margin-bottom: 2em
}

.prose figure>* {
  margin-top: 0;
  margin-bottom: 0
}

.prose h2 code {
  font-size: .875em
}

.prose h3 code {
  font-size: .9em
}

.prose ol, .prose ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  list-style-type: none
}

.prose li {
  margin-top: .5em;
  margin-bottom: .5em
}

.prose>ul>li p {
  margin-top: .75em;
  margin-bottom: .75em
}

.prose>ol>li>*:first-child {
  margin-top: 1.25em
}

.prose>ol>li>*:last-child {
  margin-bottom: 1.25em
}

.prose ul ul,.prose ul ol,.prose ol ul,.prose ol ol {
  margin-top: .75em;
  margin-bottom: .75em
}

.prose hr+* {
  margin-top: 0
}

.prose h2+* {
  margin-top: 0
}

.prose h3+* {
  margin-top: 0
}

.prose h4+* {
  margin-top: 0
}

.prose h6 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: .5;
  font-weight: 500;
  letter-spacing: 2px
}

.prose thead th:first-child {
  padding-left: 0
}

.prose thead th:last-child {
  padding-right: 0
}

.prose tbody td:first-child {
  padding-left: 0
}

.prose tbody td:last-child {
  padding-right: 0
}

.prose>:first-child {
  margin-top: 0
}

.prose b {
  color: var(--fg-deep)
}

div[class*=language-],pre[class*=language-],code[class*=language-] {
  font-size: var(--prism-font-size);
  font-family: var(--prism-font-family);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: var(--prism-line-height);
  -moz-tab-size: var(--prism-tab-size);
  -o-tab-size: var(--prism-tab-size);
  tab-size: var(--prism-tab-size);
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: var(--prism-foreground) !important
}

div[class*=language-],pre[class*=language-] {
  font-size: var(--prism-block-font-size);
  padding: var(--prism-block-padding-y) var(--prism-block-padding-x);
  margin: var(--prism-block-margin-y) var(--prism-block-margin-x);
  border-radius: var(--prism-block-radius);
  overflow: auto;
  background: var(--prism-background);
}

:not(pre)>code[class*=language-] {
  font-size: var(--prism-inline-font-size);
  padding: var(--prism-inline-padding-y) var(--prism-inline-padding-x);
  border-radius: var(--prism-inline-radius);
  background: var(--prism-inline-background)
}

pre[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,code[class*=language-] ::-moz-selection {
  background: var(--prism-selection-background)
}

pre[class*=language-]::selection,pre[class*=language-] ::selection,code[class*=language-]::selection,code[class*=language-] ::selection {
  background: var(--prism-selection-background)
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: var(--prism-comment);
  font-style: var(--prism-comment-style);
}

.token.namespace {
  color: var(--prism-namespace)
}

.token.interpolation {
  color: var(--prism-interpolation)
}

.token.string {
  color: var(--prism-string)
}

.token.punctuation {
  color: var(--prism-punctuation)
}

.token.operator {
  color: var(--prism-operator)
}

.token.keyword.module,.token.keyword.control-flow {
  color: var(--prism-keyword-control)
}

.token.url,.token.symbol,.token.inserted {
  color: var(--prism-symbol)
}

.token.constant {
  color: var(--prism-constant)
}

.token.string.url {
  text-decoration: var(--prism-url-decoration)
}

.token.boolean,.language-json .token.boolean {
  color: var(--prism-boolean)
}

.token.number,.language-json .token.number {
  color: var(--prism-number)
}

.token.variable {
  color: var(--prism-variable)
}

.token.keyword {
  color: var(--prism-keyword)
}

.token.atrule,.token.attr-value,.token.selector {
  color: var(--prism-selector)
}

.token.function {
  color: var(--prism-function)
}

.token.deleted {
  color: var(--prism-deleted)
}

.token.important,.token.bold {
  font-weight: 700
}

.token.italic {
  font-style: italic
}

.token.class-name {
  color: var(--prism-class)
}

.token.tag,.token.builtin {
  color: var(--prism-builtin)
}

.token.attr-name,.token.property,.token.entity {
  color: var(--prism-property)
}

.language-json .token.property {
  color: var(--prism-json-property)
}

.token.regex {
  color: var(--prism-regex)
}

.token.decorator,.token.annotation {
  color: var(--prism-decorator)
}

.line-numbers .line-numbers-rows {
  border-right-color: var(--prism-line-number)
}

.line-numbers-rows>span:before {
  color: var(--prism-line-number-gutter)
}

.line-highlight {
  background: var(--prism-line-highlight-background)
}

html:not(.dark) {
  --prism-foreground: #393a34;
  --prism-background: #f6f8fa;
  --prism-comment: #a0ada0;
  --prism-string: #b56959;
  --prism-literal: #2f8a89;
  --prism-number: #296aa3;
  --prism-keyword: #1c6b48;
  --prism-function: #6c7834;
  --prism-boolean: #1c6b48;
  --prism-constant: #a65e2b;
  --prism-deleted: #a14f55;
  --prism-class: #2993a3;
  --prism-builtin: #ab5959;
  --prism-property: #b58451;
  --prism-namespace: #b05a78;
  --prism-punctuation: #8e8f8b;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #698c96
}

html.dark {
  --prism-foreground: #d4cfbf;
  --prism-background: #161b22;
  --prism-comment: #758575;
  --prism-string: #d48372;
  --prism-literal: #429988;
  --prism-keyword: #4d9375;
  --prism-boolean: #1c6b48;
  --prism-number: #6394bf;
  --prism-variable: #c2b36e;
  --prism-function: #a1b567;
  --prism-deleted: #a14f55;
  --prism-class: #54b1bf;
  --prism-builtin: #e0a569;
  --prism-property: #dd8e6e;
  --prism-namespace: #db889a;
  --prism-punctuation: #858585;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #6b8b9e;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444
}

.markdown-body {
  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;
  color: var(--fg);
}

.markdown-body a {
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(125, 125, 125, .3);
  transition: border .3s ease-in-out;
}

.markdown-body a:hover {
  border-bottom: 1px solid var(--fg);
}

.markdown-body a code {
  color: inherit
}

.markdown-body hr {
  width: 50px;
  margin: 2em auto
}

html.dark .markdown-body {
  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff
}

.markdown-body blockquote {
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  padding: .6em 1.2em;
  opacity: .8
}

.markdown-body blockquote>:first-child {
  margin-top: 0
}

.markdown-body blockquote>:last-child {
  margin-bottom: 0
}

.markdown-body blockquote p:first-of-type:before {
  content: none
}

.markdown-body blockquote p:first-of-type:after {
  content: none
}

