@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 100
  }
}

@media (prefers-reduced-motion:no-preference) {
  [slide-enter],
  .slide-enter,
  .slide-enter-content > * {
    --enter-stage: 0;
    --enter-step: 150ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }

  .slide-enter-content > *:nth-child(1) { --enter-stage: 1; }
  .slide-enter-content > *:nth-child(2) { --enter-stage: 2; }
  .slide-enter-content > *:nth-child(3) { --enter-stage: 3; }
  .slide-enter-content > *:nth-child(4) { --enter-stage: 4; }
  .slide-enter-content > *:nth-child(5) { --enter-stage: 5; }
  .slide-enter-content > *:nth-child(6) { --enter-stage: 6; }
  .slide-enter-content > *:nth-child(7) { --enter-stage: 7; }
  .slide-enter-content > *:nth-child(8) { --enter-stage: 8; }
  .slide-enter-content > *:nth-child(9) { --enter-stage: 9; }
  .slide-enter-content > *:nth-child(10) { --enter-stage: 10; }
  .slide-enter-content > *:nth-child(11) { --enter-stage: 11; }
  .slide-enter-content > *:nth-child(12) { --enter-stage: 12; }
  .slide-enter-content > *:nth-child(13) { --enter-stage: 13; }
  .slide-enter-content > *:nth-child(14) { --enter-stage: 14; }
  .slide-enter-content > *:nth-child(15) { --enter-stage: 15; }
  .slide-enter-content > *:nth-child(16) { --enter-stage: 16; }
  .slide-enter-content > *:nth-child(17) { --enter-stage: 17; }
  .slide-enter-content > *:nth-child(18) { --enter-stage: 18; }
  .slide-enter-content > *:nth-child(19) { --enter-stage: 19; }
  .slide-enter-content > *:nth-child(20) { --enter-stage: 20; }
  .slide-enter-content > *:nth-child(21) { --enter-stage: 21; }
  .slide-enter-content > *:nth-child(22) { --enter-stage: 22; }
  .slide-enter-content > *:nth-child(23) { --enter-stage: 23; }
  .slide-enter-content > *:nth-child(24) { --enter-stage: 24; }
  .slide-enter-content > *:nth-child(25) { --enter-stage: 25; }
  .slide-enter-content > *:nth-child(26) { --enter-stage: 26; }
  .slide-enter-content > *:nth-child(27) { --enter-stage: 27; }
  .slide-enter-content > *:nth-child(28) { --enter-stage: 28; }
  .slide-enter-content > *:nth-child(29) { --enter-stage: 29; }
  .slide-enter-content > *:nth-child(30) { --enter-stage: 30; }
  .slide-enter-content > *:nth-child(31) { --enter-stage: 31; }
  .slide-enter-content > *:nth-child(32) { --enter-stage: 32; }
  .slide-enter-content > *:nth-child(33) { --enter-stage: 33; }
  .slide-enter-content > *:nth-child(34) { --enter-stage: 34; }
  .slide-enter-content > *:nth-child(35) { --enter-stage: 35; }
  .slide-enter-content > *:nth-child(36) { --enter-stage: 36; }
  .slide-enter-content > *:nth-child(37) { --enter-stage: 37; }
  .slide-enter-content > *:nth-child(38) { --enter-stage: 38; }
  .slide-enter-content > *:nth-child(39) { --enter-stage: 39; }
  .slide-enter-content > *:nth-child(40) { --enter-stage: 40; }
}
